.background {
    background-color: rgb(230, 230, 230);
}

@font-face{
    font-family: 'moraba';
    src: url("../fonts/Morabba-Medium.ttf") format('ttf');
 }

p {
   font-family: 'moraba';
}

.fonts {
   font-family: 'moraba';
}

.image {
   width: 139px;
   height: 19px;
}