.background {
   background-color: rgb(230, 230, 230);
}

@font-face{
   font-family: 'iran-sans';
   src: url("../fonts/IRANSansX-Medium.woff2") format('woff2');
 }

p {
   font-family: 'iran-sans';
}

.fonts {
   font-family: 'iran-sans';
}

.image {
   width: 139px;
   height: 19px;
}

.color-costom {
   background-color: #08192d;
}

.text-light {
   color: antiquewhite;
}
